.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://source.unsplash.com/daily") 0% 0% / cover;

  h1 {
    color: white;
  }

  mat-form-field {
    background-color: white;
    padding: 4px 10px;
    border-radius: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  button {
    margin-top: 20px;
    font-size: 24px;
  }
}
