<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 color="primary" translate>welcome</h1>
      <mat-form-field>
        <mat-label translate>username</mat-label>
        <input formControlName="username" type="text" matInput autocomplete="username">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="formGroup.controls.username.hasError('required')" translate>required-username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label translate>password</mat-label>
        <input formControlName="password" type="password" matInput autocomplete="current-password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="formGroup.controls.password.hasError('required')" translate>required-password</mat-error>
      </mat-form-field>
      <button [disabled]="loading" mat-stroked-button>
        <div translate>sign-in</div>
      </button>
      <div fxLayoutAlign="center center" [style.position]="'relative'" [style.width.%]="100">
        <ng-container *ngIf="error" [ngSwitch]="error">
          <mat-error class="error" *ngSwitchCase="'http-error-401'" translate>
            http-error_unauthorized
          </mat-error>
          <mat-error class="error" *ngSwitchDefault translate>
            http-error_unknown
          </mat-error>
        </ng-container>
      </div>
    </div>
  </form>
</div>
